*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #FAFAFA;
    font-family: Plus Jakarta Sans;
}
.large-text{
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
}
::-webkit-scrollbar{
    width: 5px;
    height:5px;
}
::-webkit-scrollbar-thumb{
    background-color: #F44335;
    ;

}